swagger: "2.0"
info:
  title: API
  description: Service API
  version: "2.18"
host: service.host.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /CollectionParameters:
    post:
      summary: Recursive collection parameter
      description: Dummy description
      tags:
        - All
      parameters:
        - name: Version
          description: The API version
          in: body
          schema:
            description: Options k/v pairs list
            type: array
            items:
              type: object
              additionalProperties:
                type: object
                properties:
                  key:
                    type: string
                    description: option key
                  value:
                    type: string
                    description: option value
      responses:
        200:
          description: Result
          schema:
            description: Options k/v pairs list
            type: array
            items:
              type: object
              additionalProperties:
                type: object
                properties:
                  key:
                    type: string
                    description: option key
                  value:
                    type: string
                    description: option value
                                 
  /MixedParameters:
    post:
      summary: Mixed multi-level objects and collection parameter
      description: Dummy description
      tags:
        - All
      parameters:
        - name: Version
          description: The API version
          in: body
          schema:
            description: mixed collections and objects
            type: object         
            properties:
              myTable:
                type: array
                items:
                  type: object
                  properties:
                    myDict:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          k:
                            type: string
                          v:
                            type: string
      responses:
        200:
          description: Result
          schema:
            description: mixed collections and objects
            type: object         
            properties:
              myTable:
                type: array
                items:
                  type: object
                  properties:
                    myDict:
                      type: object
                      additionalProperties:
                        type: object
                        properties:
                          k:
                            type: string
                          v:
                            type: string

                                     
  /TitledParameters:
    post:
      summary: Titled, mixed multi-level objects and collection parameter
      description: Dummy description
      tags:
        - All
      parameters:
        - name: Version
          description: The API version
          in: body
          schema:
            description: mixed collections and objects
            type: object
            title: Request
            properties:
              myTable:
                type: array
                title: Table
                items:
                  type: object
                  title: TableContent
                  properties:
                    myDict:
                      type: object
                      title: Dict
                      additionalProperties:
                        type: object
                        title: KVPair
                        properties:
                          k:
                            type: string
                          v:
                            type: string
      responses:
        200:
          description: Result
          schema:
            description: mixed collections and objects
            type: object
            title: Result
            properties:
              myTable:
                type: array
                title: Table
                items:
                  type: object
                  title: TableContent
                  properties:
                    myDict:
                      type: object
                      title: Dict
                      additionalProperties:
                        type: object
                        title: KVPair
                        properties:
                          k:
                            type: string
                          v:
                            type: string
                                            
                                                        
  /LaunchCommand:
    post:
      summary: LaunchCommand
      description: Dummy description
      tags:
        - All
      parameters:
        - name: Version
          description: The API version
          type: string
          in: query
        - name: Option
          description: An optional option
          type: string
          in: query
        - name: LaunchCommandRequest
          description: Launch something new
          in: body
          schema:
            description: Inline schema
            type: object
            required:
              - Command
              - MinCount
              - MaxCount
            properties:
              Command:
                description: Dummy description
                type: object
                properties:
                  path:
                    description: Command path
                    type: string
                  args:
                    description: Command arguments
                    type: string
              Options:
                description: Options k/v pairs
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      description: option key
                    value:
                      type: string
                      description: option value
              Location:
                description: Dummy description
                $ref: '#/definitions/Location'
                
      responses:
        200:
          description: Result
          schema:
            type: object
            properties:
              ReservationId:
                description: <description>
                type: string
              Location:
                description: <description>
                $ref: '#/definitions/Location'
              Options:
                description: Options k/v pairs
                type: array
                items:
                  type: object
                  properties:
                    key:
                      type: string
                      description: option key
                    value:
                      type: string
                      description: option value

          headers:
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              type: integer
        400:
          description: Error
          schema:
            $ref: '#/definitions/Error'


definitions:
  Error:
    type: object
    properties:
      error-code:
        description: Error code
        type: integer
      message:
        description: Error message
        type: string

  Location:
    type: object
    properties:
      Loop:
        description: Loop
        type:
          $ref: '#/definitions/Location'
      Place:
        description: Place
        type: string

  RecursiveCollectionSchema:
    description: Options k/v pairs list
    type: array
    items:
      type: object
      additionalProperties:
        type: object
        properties:
          key:
            type: string
            description: option key
          value:
            type: string
            description: option value

  MixedSchema:
    description: mixed collections and objects
    type: object
    properties:
      myTable:
        type: array
        items:
          type: object
          properties:
            myDict:
              type: object
              additionalProperties:
                type: object
                properties:
                  k:
                    type: string
                  v:
                    type: string


  TitledSchema:
    description: mixed collections and objects
    type: object
    title: Request
    properties:
      myTable:
        type: array
        title: Table
        items:
          type: object
          title: TableContent
          properties:
            emptyObject:
              type: object
              title: EmptyObject        

            myDict:
              type: object
              title: Dict
              additionalProperties:
                type: object
                title: KVPair
                properties:
                  k:
                    type: string
                  v:
                    type: string

  InlineDepthSchema:
    type: object
    properties:
      Loop:
        type: object
        properties:
          p1:
            description: Description p1
            type: string
          p2:
            description: Description p2
            type: object
            properties:
              p2-1:
                description: Description p2-1
                type: string
              p2-2:
                description: Description p2-2
                type: object
                properties:
                  p2-2-1:
                    description: Description p2-2-1
                    type: object
                    properties:
                      p2-2-1-1:
                        description: Description p2-2-1-1
                        type: string
                      p2-2-1-2:
                        description: Description p2-2-1-2
                        type: boolean
                  p2-2-2:
                    description: Description p2-2-2
                    type: object
                    properties:
                      p2-2-2-1:
                        description: Description p2-2-2-1
                        type: string
                      p2-2-2-2:
                        description: Description p2-2-2-2
                        type: boolean

  InlinePet:
    type: object
    required:
      - id
    properties:
      id:
        type: integer
        format: int64
      category:
        type: object
        properties:
          id:
            type: integer
            format: int64
          name:
            type: string
      tags:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string

  InlineTitlePet:
    type: object
    required:
      - id
    properties:
      id:
        type: integer
        format: int64
      category:
        type: object
        title: CategoryModel
        properties:
          id:
            type: integer
            format: int64
          name:
            type: string
      tags:
        type: array
        items:
          type: object
          title: TagModel
          properties:
            id:
              type: integer
              format: int64
            name:
              type: string
