swagger: "2.0"
info:
  title: API
  description: Service API
  version: "2.18"
host: service.host.com
schemes:
  - https
consumes:
  - application/json
produces:
  - application/json
paths:
  /LaunchCommand:
    post:
      summary: LaunchCommand
      description: Dummy description
      tags:
        - All
      parameters:
        - name: Version
          description: The API version
          type: string
          in: query
        - name: Option
          description: An optional option
          type: string
          in: query
        - name: LaunchCommandRequest
          description: Launch something new
          in: body
          schema:
            description: Inline schema
            type: object
            required:
              - Command
              - MinCount
              - MaxCount
            properties:
              Command:
                description: Dummy description
                type: object
                properties:
                  path:
                    description: Command path
                    type: string
                  args:
                    description: Command arguments
                    type: string
              Options:
                description: Dummy description
                type: array
                items:
                  type: string
                type: string
              Location:
                description: Dummy description
                $ref: '#/definitions/Location'
      responses:
        200:
          description: Result
          schema:
            type: object
            properties:
              ReservationId:
                description: <description>
                type: string
              Location:
                description: <description>
                $ref: '#/definitions/Location'
          headers:
            X-Rate-Limit-Limit:
              description: The number of allowed requests in the current period
              type: integer
            X-Rate-Limit-Remaining:
              description: The number of remaining requests in the current period
              type: integer
            X-Rate-Limit-Reset:
              description: The number of seconds left in the current period
              type: integer
        400:
          description: Error
          schema:
            $ref: '#/definitions/Error'


definitions:
  ExternalLocation:
    $ref: ./swagger_inlineSchema.yaml#/definitions/Location

  Error:
    type: object
    properties:
      error-code:
        description: Error code
        type: integer
      message:
        description: Error message
        type: string

  Location:
    type: object
    properties:
      Loop:
        description: Loop
        type:
          $ref: '#/definitions/Location'
      Place:
        description: Place
        type: string

  InlineDepthSchema:
    type: object
    properties:
      Loop:
        type: object
        properties:
          p1:
            description: Description p1
            type: string
          p2:
            description: Description p2
            type: object
            properties:
              p2-1:
                description: Description p2-1
                type: string
              p2-2:
                description: Description p2-2
                type: object
                properties:
                  p2-2-1:
                    description: Description p2-2-1
                    type: string
                  p2-2-2:
                    description: Description p2-2-2
                    type: boolean

